/* Color variables for easy maintenance */
:root {
    --dark-gray: #1e1e1e;
    --medium-gray: #333;
    --light-gray: #444;
    --blue: #007BFF;
    --dark-blue: #0056b3;
    --text-light: #dcdcdc;
    --text-white: #ffffff;
    --success-green: lightgreen;
    --error-red: red;
  }
  
  /* General container styles for Register */
  .register-container {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 254, 254, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  /* Heading styles */
  .register-container h2 {
    color: var(--dark-gray);
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  .register-container legend{
    color: var(--dark-gray);
  }
  /* Form label styles */
  
  /* Input field styles */
  .register-container input[type="text"],
  .register-container input[type="password"],
  .register-container input[type="number"],
  .register-container input[type="email"],
  .register-container select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    background-color: rgb(188, 222, 255);
    color: var(--text-white);
    font-size: 14px;
    box-sizing: border-box;
  }
  
  /* Button styles */
  .register-container button {
    padding: 10px 20px;
    background-color: var(--dark-blue);
    color: var(--text-white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .register-container button:hover {
    background-color: var(--blue);
  }
  
  /* Success and error message styles */
  .register-container p {
    font-size: 14px;
    margin-top: 10px;
  }
  
  .register-container p.success {
    color: var(--success-green);
  }
  
  .register-container p.error {
    color: var(--error-red);
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .register-container {
      padding: 15px;
    }
  
    .register-container h2 {
      font-size: 20px;
    }
  
    .register-container button {
      width: 100%;
    }
  }
  